# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dependencies
front-end/node_modules/
node_modules/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment files
.env
.env.local
.env.production
caption_backend/.env

# Database
*.sqlite3

# BFG
bfg.jar
*.bfg-report/

# Logs
*.log
